  div.periods table.table-hover tbody tr:hover {background: #FFFFAA;}
  
  div.periods table th {
    word-wrap: break-word;
    word-break: break-all;
  }
  div.periods table th {font-size: 9pt; padding: 2px;}
  div.periods table td {font-size: 9pt; padding: 2px;}
  div.periods table td ul {padding-left: 15px;}
  
  div.periods table tbody tr td button {
    margin-top: 5px;
  }
  
  div.periods table tbody tr td div.control-actions {
    display: none;
  }
  
  div.periods table thead tr.filters td input {
    width: 95%;
    height: 20px;
    font-size: 8pt;
  }
  
  div.periods table thead tr.filters td select {
    width: 95%;
    height: 20px;
    font-size: 8pt;
  }
  
  input.small{
    width: 95% !important;
    height: 20px;
    font-size: 8pt;
  }
  
  textarea.small{
    font-size: 8pt;
  }
  
  div.periods_pager div{
    text-align: right;
  }

  div.periods table {table-layout:fixed; width:400px; margin: 0px auto;}
  div.periods table th:nth-of-type(1) {width:50px;}
  div.periods table th:nth-of-type(2) {width:350px;}
  div.periods_pager {
    width:400px; margin: 0px auto;
  }
